@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Léa Duvigneau</h1>
    <h2>
        Objectifs  :
    </h2>
    <p>
        Se brancher sur l'API Vcub de Bordeaux Métropole pour récupérer les données en temps réel
        <br />
        API avec des données simples à exploiter 🙂 https://api.alexandredubois.com/vcub-backend/vcub.php
        <br />
        Passer des données à la vue :  https://docs.microsoft.com/fr-fr/aspnet/core/mvc/views/overview?view=aspnetcore-3.1
        <br />
        Générer des classes C# à partir d'un flux JSON :  http://json2csharp.com/
        <br />
        Lire des données issues d'un flux JSON :  https://docs.microsoft.com/fr-fr/dotnet/csharp/tutorials/console-webapiclient
        <br />
        Afficher les données de l'API sous forme de tableau sur la page "Liste des stations" (les stations sont triées par ordre alphabétique). Pour chaque station on affichera : la commune, le nom de la station, le nombre de vélo électriques, le nombre de vélos au total, ainsi que le nombre d'emplacements libres.
        <br />
        Razor Cheat sheet : https://gist.github.com/jonlabelle/8738373
        <br />
        Afficher les données de l'API sous forme de carte sur la page "Carte" (chaque station sera représentée par une épingle à son emplacement)
        <br />
        Intégrer une carte openstreet map sur un site : https://nouvelle-techno.fr/actualites/2018/05/11/pas-a-pas-inserer-une-carte-openstreetmap-sur-votre-site
        <br />
        Ajouter sur chaque épingle de la carte la possibilité de cliquer pour afficher une infobulle qui indiquera le nombre de vélos disponibles et de places libres à la station en question
        <br />
        Ajouter sur la page "Liste des stations" et/ou "Carte" la possibilité de rajouter des stations en favoris
        <br />
        Compléter la page "Mes favoris" pour n'afficher sous forme de tableau que les stations marquées en favoris
        <br />
        Stocker les stations favorites dans les cookies de votre navigateur ou le localstorage
        <br />
        Travailler avec les cookies https://www.c-sharpcorner.com/article/asp-net-core-working-with-cookie/
        <br />
        Centrer automatiquement la carte par rapport à la position de l'utilisateur
        <br />
        Récupérer la position de l'utilisateur : https://developer.mozilla.org/fr/docs/Web/API/Geolocation_API
        <br />
        Trier automatiquement la liste des stations par rapport à la position de l'utilisateur
        <br />
        Rendre votre application bilingue Français / Anglais
        <br />
        https://docs.microsoft.com/fr-fr/aspnet/core/fundamentals/localization?view=aspnetcore-3.1
        <br />
        Déployer votre code sur un serveur accessible publiquement en consultation
        <br />
        Déployer une application ASP.Net Core sur un serveur Debian
        <br />
        Déployer une application ASP.Net Core sur Azure
        <br />
        Déployer une application ASP.Net sur Heroku
        <br />
        Faire en sorte que votre site soit agréable à utiliser sur mobile (il ne doit pas comporter ascenseur horizontal)
        <br />
        BONUS : toute fonctionnalité supplémentaire sera valorisée, pensez-juste à l'indiquer sur votre page d'accueil que je puisse la comptabiliser
    </p>
</div>
